* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

body {
    background: #f2f4f7;
    color: #111;
}

.topbar {
    width: 100%;
    background: #fff;
    padding: 8px 40px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.topbar .left span {
    margin-right: 20px;
}

.topbar .right i {
    margin-left: 10px;
    cursor: pointer;
}

.navbar {
    width: 100%;
    background: transparent;
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: dotted;
    color:black;
}

.logo {
    font-size: 36px;
    font-weight: 700;
    color: #27ae60;
}

.nav-menu {
    list-style: none;
    display: flex;
}

.nav-menu li {
    margin: 0 20px;
    font-size: 18px;
    cursor: pointer;
}

.icons i {
    margin-left: 20px;
    cursor: pointer;
    font-size: 18px;
}

/* ---------------- HERO SECTION ---------------- */
.hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
}

.hero-text h1 {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 40px;
}

.buttons {
    display: flex;
}

.btn {
    padding: 15px 35px;
    border-radius: 40px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

.blue{
    background: #532ecc;
    border: dashed;
}

.red {
    background: #e6222c;
    border: dashed;
}

.hero-img img {
    width: 650px;
    border-radius: 10px;
    border-radius: 20px;
    border: dotted;
}
.about-section {
      max-width: 1200px;
      margin: 50px auto;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
    }

    .about-img img {
      width: 500px;
      height: 300px;
      object-fit: cover;
      border-radius: 10px;
      border: dotted;
    }

    .about-text h1 {
      font-size: 38px;
      margin-bottom: 15px;
      font-weight: bold;
    }

    .about-text p {
      margin-bottom: 15px;
      color: #555;
      line-height: 1.5;
    }

    .points { list-style: none; margin-bottom: 18px; }
    .points li {
      font-size: 17px;
      margin-bottom: 6px;
    }

    .read-btn {
      padding: 12px 25px;
      background: #b03c3c;
      color: white;
      border: dashed;
      border-radius: 25px;
      cursor: pointer;
      font-size: 17px;
    }
    


.features-section {
    text-align: center;
    padding: 70px 0;
}

.section-title {
    font-size: 42px;
    font-weight: bold;
    color: #222;
}

.section-subtitle {
    width: 60%;
    margin: 15px auto 40px;
    font-size: 17px;
    color: #555;
}


.features-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.feature-box {
    width: 330px;
    background: #fff;
    padding: 40px 25px;
    border-radius: 12px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.feature-box:hover {
    transform: translateY(-8px);
}


.icon {
    font-size: 65px;
    color: #23c55e;
    margin-bottom: 25px;
}


.feature-box h3 {
    font-size: 26px;
    margin-bottom: 18px;
    color: #222;
}

.feature-box p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 25px;
}


.btn {
    padding: 10px 25px;
    border: 2px solid #23c55e;
    color: #23c55e;
    background: transparent;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  
}

.btn:hover {
    background: #23c55e;
    color: white;
    
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}

h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #222;
}

p {
    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
}

.filter-buttons {
    margin-bottom: 30px;
}

.filter-buttons button {
    border: 1px solid #28a745;
    background: white;
    color: #28a745;
    padding: 8px 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: dashed;
}

 
 .filter-buttons button:hover { 
    background: #a72828;
    color: white;
    border: dashed;
 } 

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.product-card {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.new {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #ff6600;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
}

.product-card h3 {
    margin: 15px 0 10px;
    font-size: 18px;
    color: #222;
}

.price {
    color: #28a745;
    font-weight: bold;
    margin-bottom: 15px;
}

.old-price {
    color: #999;
    text-decoration: line-through;
    font-weight: normal;
    margin-left: 10px;
}

.product-actions button {
    border: none;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.product-actions button:first-child {
    background: #eee;
    color: #333;
}

.product-actions button:last-child {
     background: #105879; 
    color: white;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f9f9f9;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.product-card {
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
    position: relative;
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    margin-top: 10px;
}

.new {
    position: absolute;
    top: 12px;
    left: 12px;
    background: #ff6600;
    color: #fff;
    padding: 4px 10px;
    font-size: 13px;
    border-radius: 4px;
}

.product-card h3 {
    font-size: 18px;
    margin: 15px 0 10px;
}

.price {
    font-size: 16px;
    color: #28a745;
    font-weight: bold;
}

.old-price {
    color: #999;
    text-decoration: line-through;
    margin-left: 8px;
}

.product-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.product-actions button {
    width: 48%;
    padding: 8px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.product-actions button:first-child {
    background: #eaeaea;
}

.product-actions button:last-child {
    background: #5728a7;
    color: white;
}

.browse-more {
    text-align: center;
    margin: 40px 0;
}

.browse-more button {
    background: #cd3256;
    color: white;
    padding: 12px 30px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    border: dashed;
    

}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.visit-section {
    background: linear-gradient(90deg, #61c13c, #35a21e);
    color: white;
    padding: 80px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-box {
    max-width: 600px;
}

.content-box h1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 700;
}

.content-box p {
    font-size: 19px;
    line-height: 1.6;
}

.button-box {
    margin-right: 50px;
}

.visit-btn {
    background: #e65b2e;
    padding: 18px 40px;
    border-radius: 50px;
    color: white;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.visit-btn:hover {
    background: #c84c22;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #fafafa;
}


.review-header {
    text-align: center;
    margin-top: 60px;
}

.review-header h2 {
    font-size: 48px;
    font-weight: 700;
    color: #333;
}

.review-header p {
    max-width: 600px;
    margin: 10px auto 40px;
    color: #666;
    font-size: 18px;
}


.review-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px 40px;
}


.review-card {
    background: #fff;
    padding: 40px 30px;
    width: 330px;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    position: relative;
    color: #444;
}

.highlight {
    background: linear-gradient(90deg, #57b63b, #3c9f27);
    color: white;
}

.quote-icon {
    font-size: 50px;
    color: #39a32e;
    line-height: 0;
    margin-bottom: 20px;
}

.highlight-quote {
    color: #ff6a00;
}


.review-card p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 25px;
}


.client-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.client-info img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.client-info h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.client-info span {
    font-size: 14px;
    color: #666;
}

.highlight .client-info span {
    color: #f6f6f6;
}


.review-arrows {
    display: flex;
    justify-content: center;
    margin: 30px 0 50px;
    gap: 25px;
}

.arrow-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #3fa133;
    background: none;
    color: #3fa133;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.arrow-btn:hover {
    background: #3fa133;
    color: white;
}
 body {
    margin: 0;
    font-family: "Helvetica", Arial, sans-serif;
    background: #f8f8f8;
}

.blog-section {
    padding: 60px 0;
    text-align: center;
}

.container {
    width: 85%;
    margin: auto;
}

.title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.subtitle {
    font-size: 18px;
    color: #666;
    max-width: 650px;
    margin: 0 auto 40px auto;
}

.blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.blog-card {
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    border-radius: 6px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.blog-card:hover {
    transform: translateY(-6px);
}

.blog-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card-title {
    font-size: 20px;
    padding: 15px;
    color: #333;
    text-align: left;
}

.top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #46aa30;
    color: white;
    font-size: 22px;
    padding: 12px 16px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0 3px 8px rgba(0,0,0,0.3);
    transition: background 0.3s;
}



.footer {
    background: #0f172a;
    color: #fff;
    padding: 60px 0;
}

.footer-box {
    width: 90%;
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 40px;
}

.footer-section h2 .logo span {
    color: #ffb703;
}

.footer-section h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.footer-section p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.footer-section h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #ddd;
    transition: 0.3s;
}

.footer-section ul li a:hover {
    color: #ffb703;
}


.social-icons a {
    color: #fff;
    margin-right: 10px;
    font-size: 20px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #ffb703;
}


.newsletter-box {
    display: flex;
}

.newsletter-box input {
    padding: 10px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 5px 0 0 5px;
}

.newsletter-box button {
    padding: 10px 20px;
    border: none;
    background: #ffb703;
    color: #165789;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: 0.3s;
}

.newsletter-box button:hover {
    background: #fca311;
}



